:host {
  display: flex;
  align-items: center;
  margin-left: 12%;

  .button__login {
    padding: 5px 10px;
  }

  .user-name {
    margin-right: 10px;

    color: #4F4F4F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
  }
}
