:host {
  display: flex;
  align-items: center;
  margin-left: 12%;

  .button {
    border: none;
    background-color: #2F80ED;
    padding: 5px 10px;
    box-shadow: 2px 0 4px #2F80ED;
    border-radius: 5px;

    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }

  .user-name {
    margin-right: 10px;

    color: #4F4F4F;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
  }
}
