.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  height: auto;

  background-color: #E5E5E5;

  .header-main {
    display: flex;
    height: auto;
    align-items: center;
    margin-bottom: 30px;

    .header__logo {
      font-size: 0;
      margin: 0 10px;
    }
  }
}
