<a routerLink=".." class="button button-detailed"> <</a>
<div class="container" [ngClass]="class">
  <img [src]="detailedCard!.imageUrl" [alt]="detailedCard!.title">
  <div class="description">
    <div>
      <h3 class="description__title" style="display: inline-block">{{ detailedCard!.title }}</h3>
      <span class="description__date">{{ detailedCard!.publishedAt | date : "fullDate"  }}</span>
    </div>
    <div>
      <h6>Description:</h6>
      <span class="description__content">
      {{ detailedCard!.description }}
      </span>
    </div>
    <ul class="description__detail">
      <li>{{ detailedCard!.viewCount }}</li>
      <li>{{ detailedCard!.likeCount }}</li>
      <li>{{ detailedCard!.dislikeCount }}</li>
      <li>{{ detailedCard!.commentCount }}</li>
    </ul>
  </div>
</div>
