:host {
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;

  padding: 20px 20px 0;
  margin: 15px;
  background-color: #E5E5E5;

  .button {
    padding: 5px 20px;

    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;

    border: none;
    background-color: #2F80ED;
    border-radius: 5px;

    box-shadow: 2px 0 4px #2F80ED;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  .short-card-description {
    display: flex;
    flex-direction: column;
    width: 100%;

    .shor-cart-placeholder {
      width: 150px;
      height: 150px;
    }

    .shor-cart-statistic {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}
