:host {
  margin: 0 auto;
  width: 30%;

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    background-color: #F2F2F2;

    .login-form-title {
      width: 100%;
      font: bold 18px/21px Roboto, sans-serif;
    }

    .login-form-label {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      font: 400 10px/12px Roboto, sans-serif;
      color: #828282;
    }

    .login-form-controls {
      width: 100%;
      margin-top: 20px;
      text-align: right;
    }
  }
}
